.document {
	overflow: hidden;
	font-size: 0.8125rem;
	/* 13/16 */

	&__excel {
		max-height: 100vh;
	}

	&__header {
		height: 34px;
		padding: 8px 0;
		background: $light-blue;
	}

	&__main {
		max-height: calc(100vh - 34px);
		display: flex;
		flex-direction: column;
	}
}

.header-document {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		font-size: 1rem;
		max-width: 50%;
		max-height: calc(1rem + 4px);
		padding: 2px 10px;
		overflow: hidden;

		&:hover,
		&:focus {
			outline: 1px solid #000;
			border-radius: 4px;
		}
	}

	&__buttons {
		display: flex;
		gap: 16px;
	}

	&__button {}

	&__button-icon {}
}

.main-document {
	&__toolbar {
		padding-bottom: 8px;
		display: flex;
		align-items: center;
		background: $light-blue;
	}

	&__formula {
		display: flex;
		align-items: center;
		border: 1px solid $border-color;
		border-left: 0;
		border-right: 0;
	}

	&__table {
		flex: 1 1 auto;
		overflow: hidden;
	}
}

.document-toolbar {
	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: 34px;
		background-color: $blue;
		width: calc(100% - 30px);
		border-radius: 20px;
	}

	&__buttons-block {
		padding: 0 10px;

		&:not(:last-child) {
			border-right: 1px solid $border-color;
		}
	}
}

.toolbar-buttons-block {
	&__buttons {
		align-items: center;
		display: flex;
		gap: 5px;
	}

	&__button-wrapper {}

	&__button {}

	&__button-icon {}
}

.document-formula {
	height: $row-height;
	border-top: 0;

	&__chords {
		flex: 0 0 96px;
		text-align: center;
		border-right: 1px solid $border-color;
	}

	&__input {
		flex: 1 1 auto;
		padding: 3px 15px;
		height: 100%;
		max-height: 100%;
		line-height: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&__fx {
		font-size: 1rem;
		font-family: 'Times New Roman', Times, serif;
		font-style: italic;
		font-weight: 600;
		color: grey;
		padding-left: 15px;
	}
}

.document-table {
	display: flex;
	flex-direction: column;
	position: relative;
	background: $table-grey;

	&::before,
	&::after {
		content: '';
		position: absolute;
		border: 1px solid $border-color;
		background: $table-grey;
	}

	&::before {
		bottom: 0;
		left: 0;
		width: $info-cell-width;
		height: var(--scrollbar-width);
		z-index: 1;
	}

	&::after {
		top: 0;
		right: 0;
		width: var(--scrollbar-width);
		height: calc($row-height);
		border-top: 0;
	}

	&__resizer {
		position: absolute;
		opacity: 0;
		background-color: grey;
		z-index: 1;

		&:hover {
			opacity: 1;
		}

		&::before {
			content: '';
			position: absolute;
			background-color: $table-grey;
		}

		&::after {
			display: none;
			content: '';
			position: absolute;
			background: $border-color;
		}

		&_column {
			right: -5px;
			top: calc(($row-height - $resizer-width) / 2);
			width: 9px;
			height: $resizer-width;

			&:hover {
				cursor: col-resize;
			}

			&::before {

				height: 100%;
				width: 5px;
				top: 0;
				left: 2px;
			}

			&::after {

				top: calc(($resizer-width - $row-height) / 2);
				left: 3px;
				width: 3px;
				height: 100vh;

			}
		}

		&_row {
			$resizer-width: calc($resizer-width + 10px);
			width: calc($resizer-width);
			bottom: -5px;
			left: calc(($info-cell-width - $resizer-width) / 2);
			height: 9px;

			&:hover {
				cursor: row-resize;
			}

			&::before {
				width: 100%;
				height: 5px;
				top: 2px;
				left: 0;
			}

			&::after {
				top: 3px;
				left: calc((20px - $info-cell-width) / 2);
				width: 100vw;
				height: 3px;
			}
		}

		&.active {
			&::after {
				display: block;
			}
		}
	}

	&__info-column {
		flex: 0 0 $info-cell-width;
		height: fit-content;
		margin-bottom: $cell-width;
	}

	&__info-row {
		border: 1px solid $border-color;
		border-top: 0;
		border-left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $table-grey;
		width: $info-cell-width;
		position: relative;

		&_empty {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 50;
		}
	}

	&__rows {
		flex: 1 1 auto;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	&__row {
		display: flex;
		margin-right: $cell-width;
		width: fit-content;
	}

	&__info-row,
	&__row {
		height: $row-height;
	}

	&__header,
	&__row-cells {
		display: flex;
	}

	&__header {
		position: sticky;
		top: 0;
		flex: 0 0 $row-height;
		min-width: fit-content;
		padding-left: $info-cell-width;
	}

	&__body {
		display: flex;
		flex: 1 1 auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	&__column,
	&__cell {
		width: $cell-width;
		border: 1px solid $border-color;
		border-top: 0;
		border-left: 0;
	}

	&__column {
		display: flex;
		justify-content: center;
		background: $table-grey;
		position: relative;
		align-items: center;
	}

	&__cell {
		background: #fff;
		padding: 5px;
		cursor: default;

		&:focus {
			cursor: text;
			outline: 2px solid $edited-outline-color;
			position: relative;
			z-index: 1;
			min-height: 100%;
			height: fit-content;
		}

		&.active {
			border: 2px solid $selected-border-color;
		}

		&.selected {
			background: $selected-color;
		}
	}

	&__column,
	&__info-row {
		&.selected {
			background: $dark-selected-color;
		}
	}
}