.button {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;

	&:hover {
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.1);
	}

	&:active {
		background: rgba(0, 0, 0, 0.15);
	}

	.material-icons {
		font-size: 20px;
	}
}