.button {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 3px;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}

	&:active,
	&.active {
		background: rgba(0, 0, 0, 0.15);
	}

	.material-icons {
		font-size: 20px;
	}
}

.selection-rect {
	background: transparent;
	border: 1px solid $selected-border-color;
	position: absolute;
	z-index: 10;
	pointer-events: none;

	&__circle {
		position: absolute;
		right: -5px;
		bottom: -5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $selected-border-color;
		border: 1px solid #fff;
		pointer-events: auto;
		cursor: crosshair;
	}
}

.formula-rect {
	background: transparent;
	border: 1px dashed black;
	position: absolute;
	z-index: 9;
	pointer-events: none;
	width: 0px;
	height: 0px;
}