:root {
	--scrollbar-width: 17px;
}

$border-color: #c0c0c0;
$light-blue: #F9FBFD;
$blue: #EDF2FA;
$table-grey: #F2F2F2;

$selected-color: #E7F0FD;
$dark-selected-color: #D3E3FD;
$selected-border-color: #1A73E8;

$cell-width: 100px;
$row-height: 26px;
$info-cell-width: 46px;
$resizer-width: 20px;